.hero-container {
  font-family: Roboto;
  overflow-x: hidden;
  background-image: url('https://piarwkworivztingyprt.supabase.co/storage/v1/object/public/UrbanRush/about-us-fullscreen.png');
  background-size: cover;
  background-position: right;
  height: 50vh;
}

@media (max-width: 768px) {
  .hero-container {
    background-image: url('https://piarwkworivztingyprt.supabase.co/storage/v1/object/public/UrbanRush/about-project.png');
    background-size: cover;
    background-position: center;
    height: 50vh;
  }
}

.about-container {
  background-color: #121212;
  font-family: Roboto;
  overflow-x: hidden;
  font-size: x-large;
}

.about-container h2 {
  font-size: 45px;
}

.ptscreen-container {
  font-family: Roboto;
  overflow-x: hidden;
  font-size: x-large;
}

.team-container {
  font-family: Roboto;
  overflow-x: hidden;
  font-size: larger;
}

.tech-stack {
  font-size: medium !important;
}

.white-text {
  color: white;
}
.green-text {
  color: rgb(207, 226, 101);
  font-weight: bold;
}
.purple-text {
  color: rgb(213, 183, 249);
  font-weight: bold;
}
.acqua-text {
  color: rgb(0, 197, 204);
  font-weight: bold;
}
.salmon-text {
  color: rgb(237, 109, 117);
  font-weight: bold;
}

.orange-text {
  color: rgb(255, 151, 89);
  font-weight: bold;
}

.user-card {
  width: 200px;
}

.hero-image {
  object-fit: fill;
  object-position: center;
}

.prints-img {
  object-fit: fill;
  object-position: center;
}
