.hero-container {
  font-family: Roboto;
}

.about-container {
  background-color: #121212;
  font-family: Roboto;
}

.ptscreen-container {
  font-family: Roboto;
}

.team-container {
  font-family: Roboto;
}

.white-text {
  color: white;
}
.green-text {
  color: #cfe265;
}

.user-card {
  width: 150px;
}

.hero-image {
  object-fit: fill;
  object-position: center;
}

.user-avatar {
  border-radius: 50%;
}

.ptsc-img {
  object-fit: fill;
  object-position: center;
}
