.aboutTitleBold {
  font-size: 80px;
  font-weight: 800;
}
.aboutTitle {
  font-size: 80px;
  font-weight: 400;
}
.aboutTagline {
  font-size: 36px;
  font-weight: 400;
}

.callToAction {
  position: relative;
}

.callToActionSvg {
  position: absolute;
  bottom: 0;
  margin-bottom: -15px;
  margin-left: -15px;
}

.aboutTitleBold:hover {
  color: rgb(205, 86, 89);
}
.aboutTitle:hover {
  color: rgb(205, 86, 89);
}
