.section-headerBanner {
    font-family: Roboto;
}

#boldBanner {
    font-weight: 800;
    color: white;
}

#normalBanner {
    font-weight: 400;
    color: #f3d849;
}

#smallText {
    font-weight: 400;
    color: #f3d849;
    font-size: 1.5em;
    font-family: Roboto;
}

@media (max-width:720px) {
    .section-headerBanner {
        font-size: 3em;
    }
    #smallText {
        display: none;
    }
}

@media (min-width:720px) {
    .section-headerBanner {
        font-size: 5em;
    }
}