.section-headerBanner {
    font-family: Roboto;
    font-size: 80px;
}

#boldBanner {
    font-weight: 800;
    color: white;
}

#normalBanner {
    font-weight: 400;
    color: #f3d849;
}

#smallText {
    font-weight: 400;
    color: #f3d849;
    font-size: 36px;
    font-family: Roboto;
}