.checkout-left-container {
  background-image: url('/Pages_CheckOut-4_b9aeb030-5e9a-4a2c-9dd2-b71b6133b992.webp');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  padding: 42px;
  color: white;
  font-family: 'Roboto';
  position: relative;
}

.checkout-left-container p {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

.left-container-content {
  overflow-y: auto;
  overflow-x: hidden;
}

.arrowWrapper {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.arrowWrapper::-webkit-scrollbar {
  display: none;
}

.arrowWrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.left-container-content::-webkit-scrollbar {
  display: none;
}

.left-container-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.checkout-credit-cards img {
  margin-left: 5px;
}

.custom-button-colour {
  background-color: white;
}

#left-container-alignment {
  align-items: end;
}

.payIcon {
  width: 40px;
  height: auto;
}

.payIconL {
  width: 60px;
  height: auto;
}

.back {
  cursor: pointer;
}

@media (max-width: 992px) {
  #left-container-alignment {
    align-items: center;
  }
}
