#completesBanner {
    background-image: url("../ImgCategoriesBackground/completesBanner.png");
    height: 15em;
    width: 100%;
    background-repeat: none;
    background-size: cover;
}

li {
    list-style: none !important;
    font-weight: bold;
    font-size: large;
    padding-left: 2em !important;
}