.imgEdit {
  background-image: url('https://piarwkworivztingyprt.supabase.co/storage/v1/object/public/UrbanRush/img/Pages_editaccount.webp');
  background-size: cover;
}

.textTitle {
  font-size: 4rem;
  color: white;
  font-family: 'Kalam', sans-serif;
  font-weight: bold;
}

.textTitleResponsive {
  font-size: 2rem;
  color: white;
  font-family: 'Kalam', sans-serif;
  font-weight: bold;
}

.responsiveHeight {
  height: 100.8px;
}

.inputWidth {
  width: 50%;
}
