.imgEdit {
  background-image: url('/Pages_editaccount.webp');
  background-size: cover;
}

.textTitle {
  font-size: 4rem;
  color: white;
  font-family: 'Kalam', sans-serif;
  font-weight: bold;
}

.inputWidth {
  width: 100%;
}
