#navbarScrollingDropdown {
  color: black;
}

header {
  z-index: 10;
  position: fixed !important;
  transition: 1.3s !important;
}

.scrolling {
  background-color: black !important;
  position: fixed;
  color: white !important;
}

.scrolling .scrolling-white {
  color: white !important;
}

.scrolling #navbarScrollingDropdown {
  color: white !important;
}

.navbardTitle {
  font-size: 20px;
  font-weight: 800;
  display: none;
}
.navbardTitleBold {
  font-size: 20px;
  font-weight: 400;
  display: none;
}

.scrolling .navbardTitle {
  color: white;
  display: inline;
}
.scrolling .navbardTitleBold {
  color: white;
  display: inline-block;
}
.text {
  color: black;
}
nav {
  object-fit: cover;
}

@media (max-width: 988px) {
  .text {
    color: white;
  }
  .transparent-navbar {
    background-color: black;
    .navbardTitle {
      font-size: 20px;
      font-weight: 800;
      color: white;
      display: inline;
      margin-left: 10px;
    }
    .navbardTitleBold {
      font-size: 20px;
      font-weight: 400;
      color: white;
      display: inline-block;
    }
  }
}
