.productDetailMainImg {
    width: 500px;
    height: 500px;
}

.starsDiv {
    height: 28px;
}

.starsDiv p {
    margin: 0px;
}

p, h3, h4 {
    font-family: 'Roboto';
}

.yellowTexts {
   color: #f9d703;
}

.boldTexts {
    font-weight: bold;
}

.userReviewImg {
    width: 50px;
    height: 50px;
}

.userReviewIcon {
    width: 17px;
    height: 17px;
}

.userReviewTextName{
    font-size: 16px;
    vertical-align: top;
    font-weight: bolder;
    margin-right: 5px;
    line-height: 17px;
}

.userReviewTextVerified {
    font-size: 16px;
    vertical-align: top;
    color: #6A6C77;
    line-height: 17px;
}

.userReviewTextTitle {
    font-size: 18px;
    vertical-align: top;
    font-weight: bold;
    color: #6A6C77;
    line-height: 17px;
}

.userReviewTextContent {
    font-size: 16px;
    vertical-align: top;
    font-weight: 400;
    color: #6A6C77;
    line-height: 17px; 
}

.userReviewTextShare {
    font-size: 14px;
    vertical-align: top;
    font-weight: 400;
    color: #6A6C77;
}

.userReviewName {
    height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.imgGallery {
    height: 200px;
}

.buttonsQuantity {

}