.left-section {
  background-image: url('/Pages_ShoppingCart.webp');
}

.title {
  font-size: 90px;
  color: white;
  font-family: 'Kalam', cursive;
  font-weight: 700;
}

.right-section {
  font-family: Roboto;
  font-size: larger;
  z-index: -1;
}

.small-text {
  font-size: small;
}

.cart-prods-container {
  overflow-y: scroll;
  height: 45%;
}

.cart-prods-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.cart-prods-container {
  -ms-overflow-style: none; /* for IE and Edge */
  scrollbar-width: none; /* for Firefox */
}

.small-text {
  font-size: smaller;
}

.text-background {
  text-shadow: -1px -1px 1px black;
}

@media (max-width: 768px) {
  .title {
    font-size: 65px;
  }
}
