.cardContainer {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.25 ease-in-out;
    overflow: hidden;
}

.itemCard {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    color: #121212 !important;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    right: -100%;
    transition: 2s ease-in-out;
}

.card-title {
    color: black;
    transition: 1.5s ease-in-out !important;
}

.card-sub-title{
    color: black;
    transition: 1.5s ease-in-out !important;
}

.card-btn1 {
    color: white;
    background-color: #121212;
    padding: 10px 20px;
    width: 100%;
    height: 45px;
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
    transition: 1.5s ease-in-out !important;
}

.featured-button {
    position: absolute;
    width: 100%;
    transform: skew(0deg, -12deg);
    font-weight: 1em;
    border: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px 15px 05px 0px;
    background-color: #121212;
    color: white;
    transition: 1.5s ease-in-out !important;
    font-size: small;
}

