.left-section {
  background-image: url('Pages_ShoppingCart.webp');
}

.title {
  font-size: 90px;
  color: white;
  font-family: 'Kalam', cursive;
  font-weight: 700;
}

.right-section {
  font-family: Roboto;
  font-size: larger;
}

.small-text {
  font-size: small;
}

.cart-prods-container {
  overflow-y: auto;
  height: 50%;
}

.cart-prods-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.cart-prods-container {
  -ms-overflow-style: none; /* for IE and Edge */
  scrollbar-width: none; /* for Firefox */
}
