.videoBlock {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  display: flex;
  padding: 0;
  margin: 0;
}

.container-banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .container-banner {
    background-image: url('/ImgHome.png');
    background-size: cover;
    background-position: center;
    height: 50vh;
  }
  .videoBlock {
    display: none;
  }
}
